html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

img {
    border: 2px solid black;
}

#cat {
    width: 610px;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
}

#cat-list {
    width: 600px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

button {
    padding: 5px;
    margin: 5px;
}
